#container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    height: 480px;
    width: 480px;
    border: solid;
}

.content:hover {
    background-color: black;
}

#clear {
    margin: 10px;
}