#container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    height: 480px;
    width: 480px;
    border: solid;
}

#clear {
    margin: 10px;
}

@keyframes colorChange {
    100% { background: black };
}

.changing {
    animation: colorChange 0.5s forwards;
}